h1,
h3,
p {
  color: azure;
  text-align: center;
}

.header {
  padding: 20px;
}

.card {
  cursor: pointer;
  transition: transform 0.8s;
  background-color: azure;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

button {
  border-radius: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

#button_text {
  color: black;
  text-align: center;
}

.submit-button {
  color: white;
  background-color: lightgreen;
  display: flex;
  margin: auto;
  width: 100px;
  border-radius: 20px;
}

.shuffle-button {
  border-radius: 20px;
  color: white;
  background-color: orange;
  width: 100px;
}

.mark-button {
  width: 100px;
}

ul {
  text-align: center;
  text-decoration: none;
  color: white;
}

.image img {
  margin: 0, auto;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-text {
  padding-top: 0px;
  color: black;
}

input {
  align-items: center;
  display: flex;
  margin: 10px auto;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}
